<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.pp.content.library.web.ContentDao">
	<!-- 获取某一天的内容库统计结果数据 -->
	<select id="selectResult" parameterType="hashmap" resultType="ContentResult">
		SELECT * FROM wb_content_result WHERE recordType = #{recordtype} AND date = #{date}
	</select>
</mapper>